body {
    background-color: #0A1929;
}

.collab-card {
    width: 500px;
    filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
    padding-right: 2px;
}

.avatar {
    box-shadow: 0 0 8px rgb(81, 227, 79);
    filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
}

::-webkit-scrollbar {
    width: 7px;
    
}

::-webkit-scrollbar-thumb {
    background-color: #45484C;
    border-radius: 4px;
}