body {
    background-color: #0A1929;
}


.collab-card {
    width: 500px;
}

@media (max-width: 1150px) {
    .collab-card {
        width: 450px;
    }
}

@media (max-width: 1020px){
    .container {
        flex-direction: column;
        align-items: center;
        gap: 50px
    }

    .collab-card {
        width: 550px;
    }
}

@media (max-width: 650px) {
    .collab-card {
        width: 450px;
    }
}

@media (max-width: 650px) {
    .collab-card {
        width: 380px;
    }
}

@media (max-width: 420px) {
    .collab-card {
        width: 330px;
    }
}

@media (max-width: 365px) {
    .collab-card {
        width: 300px;
    }
}