body {
    background-color: #0A1929;
}
.color {
    background-color: red;
}

.collab-card {
    width: 500px;
    filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
    padding-right: 5px;
}

.avatar {
    box-shadow: 0 0 8px rgb(81, 227, 79);
    filter: drop-shadow(0 0.4rem 0.4rem #0000002f);
}

::-webkit-scrollbar {
    width: 6px;

}

::-webkit-scrollbar-thumb {
    background-color: #1976d2;
    border-radius: 20px;
}

@media (max-width: 1150px) {
    .collab-card {
        width: 450px;
    }
}

@media (max-width: 1020px){
    .container {
        flex-direction: column;
        align-items: center;
        gap: 50px
    }

    .collab-card {
        width: 550px;
    }
}

@media (max-width: 650px) {
    .collab-card {
        width: 450px;
    }
}

@media (max-width: 650px) {
    .collab-card {
        width: 380px;
    }
}

@media (max-width: 420px) {
    .collab-card {
        width: 330px;
    }
}

@media (max-width: 365px) {
    .collab-card {
        width: 300px;
    }
}